@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 75px;
  padding: 0 20vw;
  font: 400 56px "Roboto Slab", serif;
  font-size: 60px;
  text-align: center;
  color: #fff;
}
.card {
  min-width: 350px;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.card .card_text {
  position: relative;
  margin: 0;
  padding: 30px 30px 40px 80px;
  border: none;
  border-radius: 0 20px 20px 0;
  font: 20px "Shadows Into Light", cursive;
}
.card .card_text:after {
  position: absolute;
  top: 0;
  left: 50px;
  content: "";
  height: 100%;
  width: 1px;
  border-left: double #e08183;
}
.card p {
  margin: 0 0 30px 0;
  line-height: 30px;
  color: #333;
}
.card .author {
  text-align: end;
  margin: 0;
}

.bg-white {
  background: #ffff linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0
    25px / 100% 30px;
}

.bg-green {
  background: #c1ffd6 linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0
    25px / 100% 30px;
}

.bg-pink {
  background: #ffddf0 linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0
    25px / 100% 30px;
}

.bg-yellow {
  background: #ffe88d linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0
    25px / 100% 30px;
}

.bg-blue {
  background: #b0e4ff linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0
    25px / 100% 30px;
}

.bg-purple {
  background: #cfc0ff linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 0) 0
    25px / 100% 30px;
}

