@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom, #f7fafc, #edf2f7);
  background-image: url("/media/pictures/wall-bg.webp");
}

.rope {
  background-image: url("/media/pictures/rope.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 200px;
}
