@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

.green-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  background-color: #dedede;
  overflow: hidden;
  min-height: 250px;
}
.green-board {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/media/pictures/green_board_2.jpeg");
  background-size: 50%;
  background-position: center;
}
.green-board:before,
.green-board:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid 16px #6d3f00;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 3px #9e9399, inset 0px -1px 3px #9e9399;
}
.green-board:after {
  left: 12px;
  top: 4px;
  width: 16px;
  height: 16px;
  border: solid 2px #c3cddd;
  border-radius: 50%;
}
